.btn-register{
    font-size:18px;
    cursor: pointer;
    margin-left: 25px; 
    transition: all 0.5s ease;
    text-decoration: none;

}
.btn-register:hover {
    color: rgb(25, 143, 143); 
    transform: scale(1.2);
    font-weight: 500;
}

.btn-signin{
    font-size:18px;
    cursor: pointer;
    margin-left: 25px; 
    transition: all 0.5s ease;
    text-decoration: none;
}

.btn-signin:hover {
    color: teal; 
    transform: scale(1.2);
    font-weight: 500;
}    

.btn-registerpage-login{
    margin-left: 15px;
    width: 25%;
    border: none;
    text-align: center;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    font-size: 15px;
    font-weight:500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn-registerpage-login:hover{
    background-color: #c08ab7; 
    transform: scale(1.1);
}

.label-username{
    margin-top: 15px;
    font-size: 22px;
}

.label-password{
    margin-top: 15px;
    font-size: 22px;
}